<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
    <div class="footer bg-dark" th:fragment="footer">
        <div class="container">
            <span class="text-muted" style="padding-right: 6px;">GitHub Repo Check</span>
            <a href = "mailto: michael.logrono.ph@gmail.com" class="text-muted" style="padding-left: 10px; border-left: 1px dashed #555; color: darkgray;"><small>Feedback</small></a>
        </div>
    </div>
</body>
</html>