<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GitHub Repo Check | Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/loader.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/flex-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sticky-footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination.css}"/>
</head>

<body>

<header>
    <div th:replace="fragment/header ::  header"></div>
</header>
<main role="main" class="container">
    <div class="starter-template">
        <h3 class="mt-5" id="repo-title" style="padding-top: 30px;">Repo Information</h3>
        <div id="results" style="padding-top: 20px;">
            <h6>Contributors</h6>
            <div class='border rounded extra-color last'>
                <div class='flex-container-1 justify-content-center'>
                    <div id="loader" class="item-3" ></div>
                </div>
                <div id="feedback">
                    <div class='flex-container-1'>
                        <div class='item-3'><small>You stare blankly into space.</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div th:replace="fragment/footer ::  footer"></div>
</footer>

<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/generic.js}"></script>
<script type="text/javascript" th:src="@{/js/show_info.js}"></script>
</body>
</html>